body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header,nav,footer{
    color: white;
    padding: 2px;
}

header,footer{
    background-color: darkgreen;
}

nav{
    background-color: forestgreen;
}

section{
    background-color: lightgreen;
    width: 33.3%;
    height: 550px;
    padding-top: 10px;
}

h2{
    width: 33%;
    display: inline-block;
}

table,td,th{
    border: solid 1px darkgreen;
}

table{width: 90%;
    border-collapse: collapse;}
#konfiguracja1{
    width: 95%;
    border-radius: 8px;
}

.left tr:hover{background-color: forestgreen;}

main{
    display: flex;
}